.map {
  width: 100%;
  padding-top: 70px;
}

.map iframe {
  display: block;
  width: 100%;
  min-height: 360px;
  border: 0;
  margin: 0;
}


@media (max-width: 900px) {
  .map {
    padding-top: 10px;
  }

  .map iframe {
    min-height: 250px;
    height: 250px;
  }
}
