.page {
  display: flex;
  flex-direction: column;
  gap: var(--space-56);
  padding-top: 68px;
  padding-bottom: var(--space-32);
}

@media (min-width: 768px) {
  .page {
    gap: var(--space-80);
    padding-top: 68px;
    padding-bottom: var(--space-56);
  }
}

@media (max-width: 900px) {
  .page {
    padding-top: calc(65px + var(--space-32));
  }
}